.cards {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-column-gap: 100px;
  list-style: none;
  width: 920px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
