.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  background-image: url(../../../images/logo_place_header.svg);
/*   transition: background-image 0.2s ease-in; */
}

/* .logo_place_header:hover {
  background-image: url(../../../images/logo_place_header_hover.svg);
}
 */
